  @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Open+Sans&display=swap');

  :root{
    --Cyan: hsl(179, 62%, 43%);
    --light-cyan:hsla(179, 70%, 42%, 0.807);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
    --body-bg: #E6EFF5;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body p, h1, h2, li {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
  }

  .body-bg {
    background-color: var(--body-bg);
  }

  .top-section {
    background-color: white;
  }

  .top-section h1 {
    color: var(--Cyan)
  }

  .top-section h2 {
    color: var(--Bright-Yellow);
  }

  .top-section p {
    color: var(--Grayish-Blue);
  }

  .middle-section {
    background-color: var(--Cyan);
    color: white;
  }

  .middle-section :nth-child(3) {
    transform: translateY(-20px);
  }

  .price {
    font-size: 40px;
    font-weight: 700;
  }

  .price span {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
  }

  .bottom-section {
    background-color: var(--light-cyan);
    color: white;
  }
  
 button {
    color: white;
    background-color: var(--Bright-Yellow);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  }

  button:hover {
    background-color: var(--Grayish-Blue);
    cursor: pointer;
  }

 li {
    list-style-type: none;
    margin-left: -12px;
    opacity: .8;
  }

  @media (min-width:768px){
    .borders-bottom-right {
        border-bottom-right-radius: 6px;
     }
    .borders-bottom-left {
        border-bottom-left-radius: 6px;
     }
  }

  @media (max-width:767px){
    .borders-bottom-small {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
     }
  }

  @media (min-width: 768px)
.my-md-4 {
     margin-top: 1.5rem!important; 
    / margin-bottom: 1.5rem!important; 
}
.py-5 {
     padding-top: 3rem!important; 
     padding-bottom: 3rem!important; 
}
.px-5 {
     padding-right: 3rem!important; 
     padding-left: 3rem!important; 
}
/* This was your media query at 1200px and switched to 1024px and changed the max-width  to be smaller. This makes your component look similar to the design image */
@media (min-width: 1024px)
.container, .container-lg, .container-md, .container-sm, .container-xl {
     max-width: 800px; 
}
@media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
     max-width: 960px; 
}


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }